<app-header></app-header>
<!DOCTYPE html>
<html>
    <head>
      <!-- <link rel="stylesheet" href="contact.css"> -->
        <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    </head>
    <body>
        <div class="container">
            <div class="container1">
                <h1 style="text-align: center;">Contact Us</h1>
                <p style="text-align: center;"><i class='fa fa-phone-square'></i> +91 9834096206</p>
                <p style="text-align: center;"><i class='fa fa-envelope'></i> info@onebite.co.in</p>
                <p style="text-align: center;"><i class='fa-solid fa-location-dot'></i> Shop No.24, Ground Floor, <br> Crasto Road, Near GPO,<br> Near Post Office,<br> Panjim-403001 </p>
            </div>
        </div>
    </body>
</html>

            