<!-- <app-admin-nav></app-admin-nav>
<div *ngIf="loading; then thenBlock else myelseBlock"></div>
<ng-template #thenBlock>
  <app-loading></app-loading>
</ng-template>
<ng-template #myelseBlock>
  <div class="container" id="container">
    <div class="row">
      <div class="col-12">
        <table class="table table-image">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Item Image</th>
              <th scope="col">Item Name</th>
              <th scope="col">Quantity</th>
              <th scope="col">Item Price</th>

            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of item">
              <th scope="row"></th>
              <td class="w-25">
                <img src="{{item}}" class="img-fluid img-thumbnail" alt="No image found">
              </td>
              <td>{{item.foodname}}</td>
              <td>
                
                <span>{{item.foodname}}</span>
               
              </td>
              <td>{{}} ₹</td>

            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="container" style="overflow-x: hidden;">
    <div class="row">

      

      <div class="parent" style="background-color:rgb(235, 243, 251);margin-top: 15px;margin-bottom: 150px;"
        id="lastcol">

        <div class="info">

          <p style="margin-top: 5px;margin-bottom: 5px;">total = <b><span>{{total}}</span> ₹</b></p>

        </div>
      </div>

    </div>

  </div>
  
</ng-template> -->