<app-header></app-header>
<!DOCTYPE html>
<html>
    <head>
      <!-- <link rel="stylesheet" href="contact.css"> -->
        <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    </head>
    <body>
        <div class="container">
            <div class="container1"> 
                <h1 style="text-align: center;">About Us</h1>
                <h1 style="text-align: center;"></h1>
                <h2 style="text-align: center;">VISION:</h2>
            <p style="text-align: center;">Great things in business are never done by one person, they're done <p style="text-align: center;"> by a team of people. Our Franchisees forus is the same team of  </p>
                <p style="text-align: center;"> people who is supporting us and counting on us in ONE BITE </p>
            </div>
        </div>
    </body>
</html>

            